body {background-color: powderblue;}
h1 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    color: darkblue;
}
h2 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: darkblue;
}
p {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}